body {
    background-color: black;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    color:aliceblue;
}

video {
    display: flex;
    margin: 0 auto;
}

